<!-- START wrapper-->
<div class="row row-table page-wrapper be-login">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
        <!-- START panel-->
        <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat anim-running anim-done">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="0"/>
        </div>
        <!-- END panel-->
    </div>
</div>
<!-- END wrapper-->
<script type="text/javascript" src="fileadmin/templates/backend/public/js/login.js"></script>
<style type="text/css">
    body { height: 100%;}
</style>