<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/style.css')}" />
<script type="text/javascript" src="{f:uri.resource(path:'Ueditor/ueditor.config.js')}"></script>
<script type="text/javascript" src="{f:uri.resource(path:'Ueditor/ueditor.all.min.js')}"></script>
<script type="text/javascript" src="{f:uri.resource(path:'Ueditor/lang/zh-cn/zh-cn.js')}"></script>
<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/bootbox.min.js')}"></script>
<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/jquery.validate.min.js')}"></script>
<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/messages_zh.js')}"></script>
<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/common.js')}"></script>

<div class="tx-news-front-edit">
	<f:render section="main" />
</div>